@charset "UTF-8";
/*reset style*/
*, *:before, *:after {
  box-sizing: border-box;
}

div, a, b, input, textarea, button, select, form, label, span, td, li, time, body, ul, ol, i, h1, h2, h3, p, table, dd, dl, dt {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-tap-highlight-color: transparent;
}

article, aside, footer, header, section, nav, fieldset {
  display: block;
  padding: 0;
  margin: 0;
}

ul, ol, li {
  list-style: none;
}

input, img, fieldset {
  border: none;
}

img {
  vertical-align: middle;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: block;
}

a, a:hover {
  text-decoration: none;
}

a:focus, input {
  outline: none;
  /*for Firfox*/
}

.l {
  float: left;
}

.r {
  float: right;
}

.pr {
  position: relative;
}

b, strong {
  font-weight: normal;
}

h1, h2 {
  font-weight: normal;
}

.hide {
  display: none;
}

.nucfont {
  font-size: 24px;
  border-radius: 2px;
  cursor: pointer;
}

/*
* animate css
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/**
* NSTS.Plugin.Alert
*/
.sweet-overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
  z-index: 10000;
}

.showSweetAlert {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 566px;
  min-height: 300px;
  max-height: 330px;
  margin-left: -300px;
  margin-top: -150px;
  padding: 15px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  text-align: center;
  z-index: 99999;
  overflow: hidden;
  border-radius: 4px;
}

.showSweetAlert.active {
  animation: showSweetAlert 0.3s;
}

.showSweetAlert .Info h2, .showSweetAlert .failure h2, .showSweetAlert .succeed h2 {
  display: block;
  position: relative;
  margin: 30px 0 20px;
  padding: 0;
  color: #575757;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  text-transform: none;
  line-height: 40px;
}

.showSweetAlert .sa-icon1 {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  padding: 0;
  border: 4px solid #F8BB86;
  border-radius: 50%;
  box-sizing: content-box;
}

.showSweetAlert .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  margin-left: -2px;
  border-radius: 2px;
  background-color: #F8BB86;
}

.showSweetAlert .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  left: 50%;
  bottom: 10px;
  margin-left: -3px;
  border-radius: 50%;
  background-color: #F8BB86;
}

.showSweetAlert .pulseWarning {
  animation: pulseWarning 0.75s infinite alternate;
}

.showSweetAlert .pulseWarningIns {
  animation: pulseWarningIns 0.75s infinite alternate;
}

.showSweetAlert .icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  border: 4px solid gray;
  border-radius: 50%;
  box-sizing: content-box;
}

.showSweetAlert .error {
  border-color: #d43f3a;
  color: #ff5b5b;
  font-size: 12px;
  font-weight: 500;
}

.showSweetAlert .line {
  display: block;
  position: absolute;
  top: 37px;
  height: 5px;
  width: 47px;
  border-radius: 2px;
  background-color: #d9534f;
}

.showSweetAlert .line.left {
  transform: rotate(45deg);
  left: 17px;
}

.showSweetAlert .line.right {
  transform: rotate(-45deg);
  right: 16px;
}

.showSweetAlert .animateErrorIcon {
  animation: animateErrorIcon 0.5s;
}

.showSweetAlert .x-mark {
  display: block;
  position: relative;
}

.showSweetAlert .animateXMark {
  animation: animateXMark 0.5s;
}

.showSweetAlert .sa-icon2 {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  padding: 0;
  border: 4px solid #eff8e5;
  border-radius: 50%;
  box-sizing: content-box;
}

.showSweetAlert .sa-placeholder {
  display: none;
  position: absolute;
  left: -4px;
  top: -4px;
  width: 80px;
  height: 80px;
  border: 4px solid #eff8e5;
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 2;
}

.showSweetAlert .sa-fix {
  display: none;
  position: absolute;
  left: 28px;
  top: 8px;
  width: 5px;
  height: 90px;
  background-color: white;
  z-index: 1;
  transform: rotate(-45deg);
}

.showSweetAlert .sa-fix:after {
  content: '';
  position: absolute;
  top: -11px;
  left: 30px;
  width: 60px;
  height: 120px;
  border-radius: 50%;
  background: white;
  transform-origin: 0px 60px;
  transform: rotate(45deg);
}

.showSweetAlert .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.showSweetAlert .sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg);
}

.showSweetAlert .sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg);
}

.showSweetAlert .animateSuccessTip {
  animation: animateSuccessTip 0.75s;
}

.showSweetAlert .animateSuccessLong {
  animation: animateSuccessLong 0.75s;
}

.showSweetAlert .sa-icon.sa-success.animate::after {
  animation: rotatePlaceholder 4.25s ease-in;
}

.showSweetAlert .cancel1,
.showSweetAlert .confirm1,
.showSweetAlert .confirm2,
.showSweetAlert .confirm3 {
  display: inline-block;
  margin: 26px 15px 0 15px;
  padding: 7px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: none !important;
  font-size: 17px;
  color: white;
  font-weight: 500;
  font-family: 999;
  outline: none;
  cursor: pointer;
}

.showSweetAlert .cancel1 {
  background: #757575;
}

.showSweetAlert .cancel1:hover {
  background: #616161;
}

.showSweetAlert .confirm1 {
  background: #22b9ff;
}

.showSweetAlert .confirm1:hover {
  background: #1890ff;
}

.showSweetAlert .confirm2 {
  background: #ff5b5b;
}

.showSweetAlert .confirm2:hover {
  background: #ff4242;
}

.showSweetAlert .confirm3 {
  margin: 26px 5px 0 5px;
  background: #4caf50;
}

.showSweetAlert .confirm3:hover {
  background: #49a84d;
}

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

/**
    说明：全屏显示 布局从body开始
  */
html, body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

/*说明：通用的一个按钮样式，以后合并到 main.css 共用样式中*/
.u-btn {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 2px;
  color: #fff;
  background-color: #ff4081;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.u-btn:hover {
  opacity: .8;
}

// !头部
/**
    说明：头部 通用
    1、标题
    2、退出按钮
    3、具体操作
  */
.m-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    background-color: #282828;
    .info {
        &-left {
            display: flex;
            align-items: center;
            margin-left: 50px;
            color: #fff;
            p {
                margin-right: 30px;
                font-size: 16px;
                .nucfont {
                    font-size: 16px;
                    margin-right: 2px;
                }
                &.info-key-topic { // !关键题
                    display: none;
                    margin-right: 5px;
                    color: #059CFA;
                }
                &.info-index {
                    opacity: 0;
                    .cur-index {
                        padding-right: 2px;
                        color: #f90;
                    }
                    .total-index {
                        padding-left: 2px;
                    }
                }
                &.info-time {
                    opacity: 0;
                }
            }
        }
        &-title {
            &::after {
                content: "";
                display: inline-block;
                padding: 1px 3px;
                margin-left: 3px;
                border-radius: 5px;
                background: transparent;
                font-size: 12px;
                transform: scale(.9);
            }
            &.easy::after {
                content: attr(data-level);
                background: #95de64;
            }
            &.medium::after {
                content: attr(data-level);
                background: #1890ff;
            }
            &.hard::after {
                content: attr(data-level);
                background: #f4516c;
            }
        }
        &-right {
            position: absolute;
            display: flex;
            align-items: center;
            right: 70px;
            color: #fff;
            font-size: 13px;
            .userinfo {
                margin-left: 15px;
                .avatar {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                }
                .username {
                    display: inline-block;
                    min-width: 40px;
                    padding: 3px 4px;
                    transform: translateY(2px);
                }
            }
        }
        &-operate {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            &::before {
                content: "\e668";
                position: absolute;
                left: -22px;
                top: 1px;
                width: 22px;
                height: 22px;
                font-size: 18px;
                vertical-align: middle;
                font-family: "nucfont";
            }
            span {
                padding: 0 2px;
                font-size: 18px;
            }
        }
    }
    .amplify {
      position: absolute;
      right: 250px;
      color: #fff;
      a {
          display: inline-block;
          line-height: 46px;
          padding-left: 28px;
          background: url(../images/common-icons/btn_amplify.png) no-repeat left center;
          font-family: '微软雅黑';
          color: #666;
      }
      span {
          display: inline-block;
          width: 40px;
          text-align: center;
      }
  }
}

/**
    说明：main 布局
    1、中间主要显示区域
  */
.main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

/**
    说明：通用的头部显示
    1、图像相关信息--左侧
    2、图像库--右侧
    3、还负责显示 考试、练习时候的 标准答案、学员答案、正确错误 等信息
  */
.m-title {
  display: none;
  padding: 0 50px;
  position: relative;
  z-index: 99;
}

.m-title > div {
  padding: 0 3px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 4px -2px #ccc;
}

.m-title .map-info {
  display: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  .u-btn {
    margin-left: 10px;
  }
  .img-index {
    padding: 0 2px;
    color: #00bcd4;
    font-weight: 600;
    + a {
        padding-left: 2px;
      }
  }
  .inuc-star {
    padding-right: 5px;
    color: #f2c200;
    font-size: 22px;
  }
}

.m-title .text-info {
  flex: auto;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  overflow: hidden;
  p {
    line-height: 27px;
    color: #818080;
    font-size: 14px;
    font-family: "微软雅黑";
    span {
        color: #252525;
      }
  }
  .info-l {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .info-r {
    display: none;
    margin-right: 50px;
    flex-shrink: 0;
  }
}

.m-title .text-info .info-1 p, .m-title .text-info .test-answer p {
  display: inline-block;
  margin-right: 50px;
}

.m-title .text-info .info-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*考试、练习相关*/
.m-title .text-info .test-info {
  display: flex;
  flex-shrink: 0;
}

.m-title .test-info .test-answer {
  position: relative;
  span {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}

.m-title .test-answer .std p {
  display: inline-flex;
}
.m-title .test-answer .user p:not(:nth-of-type(1)) {
  display: none;
}

.m-title .test-info .test-result {
  display: flex;
  align-items: center;
}

.m-title .test-result p {
  margin-left: 30px;
  margin-right: 30px;
}

.m-title .test-result > p:nth-of-type(1) {
  background: #eee;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 600;
}

.m-title .test-result .pass {
  color: #20b959;
}

.m-title .test-answer .user .markwrong,
.m-title .test-result .nopass {
  color: #f00;
}

.m-title .test-answer .user .markwrong span,
.m-title .test-result .nopass span {
  color: #f00;
}

.m-title .test-result .timeout {
  color: #f90;
}

/**
    说明：通用部分（按钮操作）
    1、左右两边的 左右箭头按钮
    2、右侧的 判断按钮
  */
.m-oprate {
    position: absolute;
    right: 12px;
    bottom: 105px;
    display: flex;
    // z-index: 99;
    .btn-wrap {
        position: fixed;
        top: 54px;
        bottom: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        z-index: 99;
        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
        .btn {
            display: inline-block;
            width: 50px;
            height: 100px;
            padding: 14px 6px;
            cursor: pointer;
        }
        .btn-prev {
            background: url(../images/common-icons/prev_btn_normal.png) no-repeat center center;
            &:hover {
                background: url(../images/common-icons/prev_btn_hover.png) no-repeat center center;
            }
        }
        .btn-next {
            background: url(../images/common-icons/next_btn_normal.png) no-repeat center center;
            &:hover {
                background: url(../images/common-icons/next_btn_hover.png) no-repeat center center;
            }
        }
    }
    /* 说明：判断按钮*/
    &-judge {
        display: flex;
        // display: none;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        bottom: 60px;
        right: 15px;
        z-index: 999;
        &.ct-judge {
            bottom: 50px;
        }
        .btn {
            display: inline-block;
            width: 60px;
            height: 60px;
            cursor: pointer;
            background-size: 100%;
            &:not(last-child) {
                margin-left: 8px;
            }
        }
        .btn-pass {
            background-image: url(../images/common-icons/pass_normal.png);
            &:hover {
                background-image: url(../images/common-icons/pass_hover.png);
            }
            &.active {
                background-image: url(../images/common-icons/pass_hover.png);
            }
            &.disabled {
                background-image: url(../images/common-icons/pass_normal.png);
            }
        }
        .btn-nopass {
            background-image: url(../images/common-icons/reject_normal.png);
            &:hover {
                background-image: url(../images/common-icons/reject_hover.png);
            }
            &.active {
                background-image: url(../images/common-icons/reject_hover.png);
            }
            &.disabled {
                background-image: url(../images/common-icons/reject_normal.png);
            }
        }
        .disabled {
            cursor: default;
        }
        .btn-submit {
            background-image: url(../images/common-icons/submit_normal.png);
            &:hover {
                background-image: url(../images/common-icons/submit_hover.png);
            }
        }
    }
}


/**
    说明：图像主要显示区域
  */
  // !走图重要逻辑
.m-content {
  flex: auto;
  display: flex;
  position: relative;
  &.dr-track-new {
    .dr-canvas {
        display: block !important;
        .track-wrap {
            float: right;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row-reverse;
            width: 5000px;
            height: 100%;
            transform: translateX(-2000px);
            div {
                float: right;
                position: relative;
                width: 500px;
                height: 100%;
                flex-shrink: 0;
                overflow: hidden;
            }
        }
    }
    .oprate-left {
        .entity-wrap {
            justify-content: inherit;
        }
    }
  }
  #ground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.prepare-info {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5f5f5;
  z-index: 9;
  opacity: 0;
  .msg-info {
    text-align: center;
    font-size: 20px;
    word-spacing: 2px;
    color: #282828;
    .msg-btn {
        display: none;
        margin-top: 10px;
    }
  }
  .result-info {
    position: absolute;
    right: 0;
    min-width: 200px;
    margin-right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    opacity: 0;
    p {
        line-height: 2;
        font-size: 14px;
    }
    .result-title {
        padding: 6px 20px;
        font-weight: 600;
        background: #e5e5e5;
        color: #666;
    }
    .result-content {
        padding: 5px 20px;
    }
    .nucfont {
        margin-right: 5px;
        font-size: 14px;
        &.inuc-correct-circle {
            color: #20b959;
        }
        &.inuc-close-circle {
            color: #f00;
        }
        &.inuc-overtime {
            color: #f2c200;
        }
        &.inuc-clock {
            color: #1890ff;
        }
    }
  }
}

// !新的样式编写【弹出层】
.nsts {
    &-btn {
        display: inline-block;
        padding: 5px 15px 6px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #fff;
        color: #515a6e;
        transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
        cursor: pointer;
        &-text {
            color: #515a6e;
            background-color: transparent;
            border-color: transparent;
            &:hover {
                color: #57a3f3;
                background-color: #fff;
                border-color: transparent;
            }
        }
        &-primary {
            color: #fff;
            background-color: #2d8cf0;
            border-color: #2d8cf0;
            &:hover {
                background-color: #57a3f3;
                border-color: #57a3f3;
            }
        }
        &-small {
            padding: 3px 12px 4px;
            font-size: 14px;
        }
        &-mini {
            padding: 3px 9px 4px;
            font-size: 12px;
        }
        + button {
            margin-left: 8px;
        }
    }
    &-layer {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba(55,55,55,.6);
        opacity: 0;
        z-index: 999;
        pointer-events: none;
        &.active {
            pointer-events: auto;
            .nsts-mask {
                pointer-events: auto;
            }
        }
    }
    &-mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        outline: 0;
        pointer-events: none;
    }
    &-container{
        position: relative;
        width: 500px;
        background: #fff;
        margin-top: -100px;
        border-radius: 6px;
        box-shadow: 0 4px 12px rgba(0,0,0,.15);
        .close {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
            i {
                color: #999;
                font-size: 20px;
            }
        }
    }
    &-header {
        border-bottom: 1px solid #e8eaec;
        padding: 14px 16px;
        line-height: 1;
        font-size: 14px;
        h3 {
            height: 20px;
            line-height: 20px;
            color: #17233d;
            font-weight: 700;
        }
    }
    &-body {
        padding: 16px;
        font-size: 14px;
        line-height: 1.5;
        .nucfont {
            margin-right: 5px;
            font-size: 14px;
            &.inuc-correct-circle {
                color: #20b959;
            }
            &.inuc-close-circle {
                color: #f00;
            }
            &.inuc-overtime {
                color: #f2c200;
            }
            &.inuc-clock {
                color: #1890ff;
            }
        }
    }
    &-footer {
        border-top: 1px solid #e8eaec;
        padding: 12px 18px;
        text-align: right;
    }
    &-tag {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        margin-bottom: 5px;
        padding: 0 12px;
        border: 1px solid #e8eaec;
        border-radius: 3px;
        background: #fff;
        color: #515a6e;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            opacity: .85;
            .nsts-tag-dot {
                background-color: #2d8cf0
            }
        }
        &.active {
            .nsts-tag-dot {
                background: #2d8cf0;
            }
        }
        &-dot {
            position: relative;
            top: 1;
            display: inline-block;
            width: 12px;
            height: 12px;
            line-height: 32px;
            margin-right: 8px;
            border-radius: 50%;
            background: #e8eaec;
            transition: all .3s;
        }
        &-text {
            color: #515a6e;
        }
    }
}

@keyframes tracking0 {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-33.33%);
  }
}

/**
    说明：CT 3D 图像显示 内容显示区域
    1、3D
    2、DR
    3、slice
  */
.m-content .leftside {
  display: flex;
  flex-direction: column;
  width: 45%;
  .dr-canvas1 {
    position: relative;
    display: flex;
    justify-content: center;
    height: 55%;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 1px;
      width: 60%;
      margin-left: -30%;
      background: #ddd;
    }
    .dr-angles {
      position: absolute;
      top: 10px;
      left: 50px;
      z-index: 9;
      a {
        display: inline-block;
        margin-right: 5px;
        padding: 5px 10px;
        background: #aaa;
        border-radius: 2px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
        &.active {
          background: #00bcd4;
        }
      }
    }
    .canvas-dr {
      align-self: center;
      /*width:90%;
        height:90%;*/
    }
  }
}


.m-content .leftside .slice-canvas {
  position: relative;
  display: flex;
  justify-content: center;
  height: 45%;
}

.m-content .slice-canvas .canvas-slice {
  align-self: center;
}

.m-content .slice-canvas .slice-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 30px;
  bottom: 30px;
  z-index: 9;
  width: 150px;
  font-size: 12px;
  color: #777;
}

.m-content .rightside {
  flex: auto;
  display: flex;
}

.m-content .rightside .ct-canvas {
  position: relative;
  flex: auto;
  display: flex;
  justify-content: center;
}

.m-content .ct-canvas .canvas-ct {
  align-self: center;
}

.m-content .rightside .slice-range {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: calc(100vh*0.6 + 40px);
}

.m-content .slice-range span {
  align-self: center;
  font-size: 12px;
  color: #333;
}

.m-content .slice-range input {
  display: block;
  transform: rotate(90deg) translateX(-50%);
  width: calc(100vh*0.6);
  height: 3px;
  transform-origin: left center;
  margin-left: 14px;
  background: linear-gradient(#059CFA, #059CFA) no-repeat;
  background-size: 50% 100%;
  border-radius: 20px;
  box-shadow: 0 0 1px #333;
  -webkit-appearance: none;
  cursor: pointer;
}

.m-content .slice-range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url(../images/common-icons/btn_slider_normal.png) no-repeat center center;
  background-size: 100% 100%;
  border-radius: 50%;
  box-shadow: -1px 0 1px #9fadc7 inset;
}

.m-content .slice-range input::-webkit-slider-thumb:hover {
  background: url(../images/common-icons/btn_slider_hover.png) no-repeat center center;
}

/*说明：3D图像的工具条 tools */
.m-content .ct-operate {
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 9;
  width: 100%;
  height: 46px;
  padding-left: 50px;
  padding-right: 50px;
}

.m-content .ct-ranges .ct-opacity,
.m-content .ct-ranges .ct-clipping {
  display: none;
  justify-content: space-around;
  line-height: 46px;
  padding-right: 25px;
}

.m-content .ct-ranges input {
  display: block;
  height: 3px;
  margin-top: 22px;
  cursor: pointer;
  background: linear-gradient(#059CFA, #059CFA) no-repeat;
  background-size: 50% 100%;
  border-radius: 20px;
  box-shadow: 0 0 1px #333;
  -webkit-appearance: none;
  appearance: none;
}

.m-content .ct-ranges span {
  padding: 0 10px;
  font-size: 12px;
}

.m-content .ct-ranges input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
  background: url(../images/common-icons/btn_opacity_normal.png) no-repeat center center;
  background-size: 100% 100%;
  border: none;
}

.m-content .ct-ranges input::-webkit-slider-thumb:hover {
  background: url(../images/common-icons/btn_opacity_hover.png) no-repeat center center;
  background-size: 100% 100%;
}

.m-content .ct-operate .ct-amplify {
  margin-right: 50px;
}

.m-content .ct-operate .ct-amplify a {
  display: inline-block;
  line-height: 46px;
  padding-left: 28px;
  background: url(../images/common-icons/btn_amplify.png) no-repeat left center;
  font-family: '微软雅黑';
  color: #666;
}

.m-content .ct-operate .ct-tools {
  position: relative;
  box-shadow: 0 0 1px 1px #ddd;
  border-radius: 36px;
  padding: 5px 46px 5px 0;
  overflow: hidden;
  user-select: none;
}

.m-content .ct-tools .ct-btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 5px;
  cursor: pointer;
}

.m-content .ct-tools .gray {
  background: url(../images/ct-icons/btn_gray_normal.png);
}

.m-content .ct-tools .gray:hover {
  background: url(../images/ct-icons/btn_gray_hover.png);
}

.m-content .ct-tools .gray.active {
  background: url(../images/ct-icons/btn_gray_checked.png);
}

.m-content .ct-tools .colours {
  background: url(../images/ct-icons/btn_colors_normal.png);
}

.m-content .ct-tools .colours:hover {
  background: url(../images/ct-icons/btn_colors_hover.png);
}

.m-content .ct-tools .colours.active {
  background: url(../images/ct-icons/btn_colors_checked.png);
}

.m-content .ct-tools .ms {
  background: url(../images/ct-icons/btn_ms_normal.png);
}

.m-content .ct-tools .ms:hover {
  background: url(../images/ct-icons/btn_ms_hover.png);
}

.m-content .ct-tools .ms.active {
  background: url(../images/ct-icons/btn_ms_checked.png);
}

.m-content .ct-tools .os {
  background: url(../images/ct-icons/btn_os_normal.png);
}

.m-content .ct-tools .os:hover {
  background: url(../images/ct-icons/btn_os_hover.png);
}

.m-content .ct-tools .os.active {
  background: url(../images/ct-icons/btn_os_checked.png);
}

.m-content .ct-tools .inverse {
  background: url(../images/ct-icons/btn_blackwhite_normal.png);
}

.m-content .ct-tools .inverse:hover {
  background: url(../images/ct-icons/btn_blackwhite_hover.png);
}

.m-content .ct-tools .inverse.active {
  background: url(../images/ct-icons/btn_blackwhite_checked.png);
}

.m-content .ct-tools .surface {
  background: url(../images/ct-icons/btn_super_normal.png);
}

.m-content .ct-tools .surface:hover {
  background: url(../images/ct-icons/btn_super_hover.png);
}

.m-content .ct-tools .surface.active {
  background: url(../images/ct-icons/btn_super_checked.png);
}

.m-content .ct-tools .edge {
  background: url(../images/ct-icons/btn_edge_normal.png);
}

.m-content .ct-tools .edge:hover {
  background: url(../images/ct-icons/btn_edge_hover.png);
}

.m-content .ct-tools .edge.active {
  background: url(../images/ct-icons/btn_edge_checked.png);
}

.m-content .ct-tools .hi {
  background: url(../images/ct-icons/btn_hi_normal.png);
}

.m-content .ct-tools .hi:hover {
  background: url(../images/ct-icons/btn_hi_hover.png);
}

.m-content .ct-tools .hi.active {
  background: url(../images/ct-icons/btn_hi_checked.png);
}

.m-content .ct-tools .transparency {
  background: url(../images/ct-icons/btn_transparent_normal.png);
}

.m-content .ct-tools .transparency:hover {
  background: url(../images/ct-icons/btn_transparent_hover.png);
}

.m-content .ct-tools .transparency.active {
  background: url(../images/ct-icons/btn_transparent_checked.png);
}

.m-content .ct-tools .clipping {
  background: url(../images/ct-icons/btn_clip_normal.png);
}

.m-content .ct-tools .clipping:hover {
  background: url(../images/ct-icons/btn_clip_hover.png);
}

.m-content .ct-tools .clipping.active {
  background: url(../images/ct-icons/btn_clip_checked.png);
}

.m-content .ct-tools .mark {
  background: url(../images/ct-icons/btn_marktip_normal.png);
}

.m-content .ct-tools .mark:hover {
  background: url(../images/ct-icons/btn_marktip_hover.png);
}

.m-content .ct-tools .mark.active {
  background: url(../images/ct-icons/btn_marktip_checked.png);
}

.m-content .ct-tools .mark.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.m-content .ct-tools .topangle {
  background: url(../images/ct-icons/btn_top_normal.png);
}

.m-content .ct-tools .topangle:hover {
  background: url(../images/ct-icons/btn_top_hover.png);
}

.m-content .ct-tools .topangle.active {
  background: url(../images/ct-icons/btn_top_checked.png);
}

.m-content .ct-tools .leftangle {
  background: url(../images/ct-icons/btn_left_normal.png);
}

.m-content .ct-tools .leftangle:hover {
  background: url(../images/ct-icons/btn_left_hover.png);
}

.m-content .ct-tools .leftangle.active {
  background: url(../images/ct-icons/btn_left_checked.png);
}

.m-content .ct-tools .rightangle {
  background: url(../images/ct-icons/btn_right_normal.png);
}

.m-content .ct-tools .rightangle:hover {
  background: url(../images/ct-icons/btn_right_hover.png);
}

.m-content .ct-tools .rightangle.active {
  background: url(../images/ct-icons/btn_right_checked.png);
}

.m-content .ct-tools .reset {
  background: url(../images/common-icons/btn_reset_normal.png);
}

.m-content .ct-tools .reset:hover {
  background: url(../images/common-icons/btn_reset_checked.png);
}

.m-content .ct-tools .ct-zoom {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  float: right;
  background: url(../images/common-icons/btn_zoom_normal.png) no-repeat center center;
  cursor: pointer;
}

.m-content .ct-tools .ct-zoom:hover {
  background: url(../images/common-icons/btn_zoom_hover.png) no-repeat center center;
}

.m-content .ct-tools .ct-zoom.z-select {
  background: url(../images/common-icons/btn_zoom_checked.png) no-repeat center center;
  transform: rotate(180deg);
}

/**
    说明：DR 图像 内容显示区域
  */
.m-content .dr-canvas {
  position: relative;
  flex: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.m-content .dr-canvas.doubleShow .canvasdr-2 {
  display: block;
}

.m-content .dr-canvas div {
  min-width: 400px;
  position: relative;
  user-select: none;
}

.m-content .dr-canvas div.canvasdr-2 {
  border-left: 1px solid #ccc;
}

.m-content .dr-canvas div.canvasdr-2 {
  display: none;
}

.m-content .dr-canvas canvas {
  display: block;
}

.m-content .dr-entity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.m-content .dr-entity img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes breath {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**
    说明：DR 图像全屏的底部 footer
    1、视角一、视角二
    2、ms/os/hi/ 等操作
  */
.m-dr-footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;
  padding: 10px 0;
  background: #3b3e47;
  z-index: 99;
  .shade {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 9;
  }
  .dr-oprate {
    display: flex;
    width: 45%;
    min-width: 800px;
    > div {
        background: #363941;
        &:nth-of-type(1) {
            width: 40%;
            margin-right: 20px;
            padding: 10px 40px;
        }
        &:nth-of-type(2) {
            width: 60%;
        }
    }
  }
  .oprate-left {
    // display: flex;
    // justify-content: space-between;
    user-select: none;
    a {
        position: relative;
        display: inline-block;
        font-size: 14px;
        &:hover {
            opacity: .9;
        }
        &.select:after {
            content: "";
            position: absolute;
            display: inline-block;
            bottom: 3px;
            left: 21px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #059CFA;
        }
    }
    .angle-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dr-angles {
            a {
                width: 50px;
                height: 50px;
                margin-right: 12px;
                background-size: 100%;
            }
        }
        .main-view {
            background-image: url(../images/common-icons/main_view_normal.png);
            &.active {
                background-image: url(../images/common-icons/main_view_hover.png);
            }
        }
        .side-view {
            background-image: url(../images/common-icons/side_view_normal.png);
            &.active {
                background-image: url(../images/common-icons/side_view_hover.png);
            }
            &.disabled {
                background-image: url(../images/common-icons/side_view_normal.png);
            }
        }

        .backout-plot {
          padding: 10px 8px;
          color: #eee;
          border: 1px solid #eee;
          border-radius: 4px;
          transition: .4s;
          cursor: pointer;
          &:hover {
            background: #373a41;
            border-color: #00bcd4;
            color: #00bcd4;
          }
        }

    }
    .entity-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        &.has-entity .entity-img {
            display: inline-block;
        }
        .entity-img {
            display: none;
            width: 50px;
            height: 50px;
            background-image: url(../images/common-icons/entity_normal.png);
            background-size: 100%;
            &.active {
                background-image: url(../images/common-icons/entity_hover.png);
            }
        }
    }
    .dr-amplify {
        p {
            padding: 8px 10px 8px 30px;
            background: url(../images/common-icons/btn_zoominout.png) no-repeat;
            background-position: left center;
            color: #fff;
            span {
                display: inline-block;
                width: 35px;
                text-align: center;
            }
        }
    }
  }
  &.dr-track-new {
    .oprate-left {
        a {
            display: inline-block;
            position: relative;
            &.active {
                background: #2d8cf0;
                &.safe {
                    background: #20b959;
                }
                &.danger {
                    background: #ff4081;
                }
                &.disabled {
                    background: #eee;
                    color: #ccc;
                    pointer-events: none;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,.35);
                    }
                }
            }
        }
    }
    .entity-wrap {
        justify-content: space-between;
        .suspect-box-size {
            display: flex;
            align-items: center;
        }
    }
  }
  .oprate-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 50px;
    > div {
        display: flex;
        justify-content: space-between;
    }
    &.shortcut-show {
        .dr-btn::before {
            opacity: 1;
        }
    }
    .dr-btn {
        &::before {
            content: attr(data-shortcut);
            position: absolute;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: #252525;
            border: 1px solid #666;
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            text-align: center;
            transition: opacity .3s;
            opacity: 0;
            z-index: 9;
        }
    }
    .switch-inner {
        position: absolute;
        right: 0px;
        top: 0px;
        border: 10px solid transparent;
        border-right-color: #666;
        border-top-color: #666;
        transition: all 0.36s;
        cursor: pointer;
        &.show-shortcut {
            border-right-color: #1890ff;
            border-top-color: #1890ff;
        }
    }
  }
  .entity-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    height: 100%;
    width: 20%;
    max-width: 250px;
    border-top: 1px solid #999;
    background: #fefefe;
    .img-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 3px;
        overflow: hidden;
    }
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
    .large {
        display: none;
        width: 275px;
        height: 275px;
        top: -200px;
        left: 0;
        position: absolute;
        border-radius: 100%;
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
        background: url(https://s3.cn-north-1.amazonaws.com.cn/s3.anjianba.cn/image/xian957_tip10hx/tip/xat_sharp0033/xat_sharp0033_ob.jpg) no-repeat;
        background-position: -200px -200px;
        z-index: 9;
    }
  }
}

.dr-oprate .dr-btn {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
//   &::before {
//     content: attr(data-shortcut);
//     position: absolute;
//     top: 0;
//     left: -20px;
//     width: 20px;
//     height: 20px;
//     line-height: 20px;
//     background: #eee;
//     border-radius: 4px;
//     color: #252525;
//     text-align: center;
//     transition: opacity .3s;
//     opacity: 0;
//   }
//   &:hover::before {
//       opacity: 1;
//   }
}

.dr-oprate .side-down > div,
.dr-oprate .side-down > div a {
  user-select: none;
}

.dr-oprate {
    .bw {
        background: url(../images/dr-icons/btn_bw_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_bw_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_bw_active.png);
        }
    }
    .colours {
        background: url(../images/dr-icons/btn_colours_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_colours_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_colours_active.png);
        }
    }
    .ms {
        background: url(../images/dr-icons/btn_ms_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_ms_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_ms_active.png);
        }
    }
    .os {
        background: url(../images/dr-icons/btn_os_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_os_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_os_active.png);
        }
    }
    .marktip {
        background: url(../images/dr-icons/btn_marktip_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_marktip_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_marktip_active.png);
        }
        &.disabled {
            cursor: not-allowed;
            pointer-events: none;
            &:after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.35);
            }
        }
    }
    .inverse {
        background: url(../images/dr-icons/btn_inverse_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_inverse_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_inverse_active.png);
        }
    }
    .gen {
        background: url(../images/dr-icons/btn_gen_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_gen_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_gen_active.png);
        }
    }
    .absor-minus {
        background: url(../images/dr-icons/btn_absorbm_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_absorbm_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_absorbm_active.png);
        }
    }
    .absor-plus {
        background: url(../images/dr-icons/btn_absorbp_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_absorbp_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_absorbp_active.png);
        }
    }
    .hi {
        background: url(../images/dr-icons/btn_hi_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_hi_hover.png);
        }
        &.active {
            background: url(../images/dr-icons/btn_hi_active.png);
        }
    }
    .reset {
        background: url(../images/dr-icons/btn_reset_normal.png);
        &:hover {
            background: url(../images/dr-icons/btn_reset_hover.png);
        }
    }
}

/*
    说明：页面反色效果
  */
.inverse {
  /*CT*/
}

.inverse .m-header, .inverse .m-title {
  background: #000;
}

.inverse .m-title > div {
  border-bottom-color: #333;
}

.inverse .m-content {
  background: #000;
}

.inverse .m-content .dr-canvas .canvasdr-2 {
  border-left-color: #333;
}

.inverse .m-dr-footer {
  background: #1e1e1e;
}

.inverse .m-title .map-info {
  color: #aaa;
}

.inverse .m-title .text-info p span {
  color: #c0c4cc;
}

.inverse .m-content .leftside .dr-canvas1::after {
  background: #1c2438;
}

.inverse .m-content .dr-angles a {
  background: #555;
  color: #aaa;
}

.inverse .m-content .dr-angles a.active {
  background: #37718b;
}

.inverse .m-content .slice-range input, .inverse .m-content .ct-ranges input {
  box-shadow: 0 0 1px #fff;
}

.inverse .m-content .slice-range span {
  color: #777;
}

/*
    说明：页面图像加载前的loading效果样式
  */
#loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 99;
  opacity: 0.9;
}

#loading .clock {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -27px;
  margin-left: -27px;
  width: 50px;
  height: 50px;
  border: 2px solid #444;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#loading .clock:after {
  content: "Loading......";
  position: absolute;
  width: 120px;
  height: 50px;
  line-height: 46px;
  top: 0;
  left: 60px;
}

#loading .clock div:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid transparent;
  border-bottom: 24px solid #aaa;
  margin: -24px 0 0 -1px;
  -webkit-animation: clock 1s linear infinite;
  -o-animation: clock 1s linear infinite;
  animation: clock 1s linear infinite;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
}

#loading .clock div:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid transparent;
  border-bottom: 15px solid #666;
  margin: -15px 0 0 -1px;
  -webkit-animation: clock 6s linear infinite;
  -o-animation: clock 6s linear infinite;
  animation: clock 6s linear infinite;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
}

@keyframes clock {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*新的模板*/
.m-alert {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.m-alert .alert-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 520px;
  max-width: 800px;
  transform: translate(-50%, -50%);
  background-color: #eee;
  border-radius: 6px;
  z-index: 100;
  background: #fff;
}

.m-alert .alert-wrap header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding: 14px 16px;
  border-bottom: 1px solid #e9eaec;
  font-size: 14px;
  color: #1c2438;
}

.m-alert .alert-wrap header .title {
  font-weight: 600;
}

.m-alert .alert-wrap header a {
  color: #999;
  font-size: 16px;
}

.m-alert .alert-wrap header a:hover {
  color: #f4516c;
}

.m-alert .alert-wrap section {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.m-alert .alert-wrap section p {
  line-height: 36px;
  color: #818080;
  font-family: "微软雅黑";
}

.m-alert .alert-wrap section .text-center {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-alert .alert-wrap section .text-center i {
  margin-right: 10px;
  line-height: 36px;
  vertical-align: middle;
  font-size: 18px;
  color: #22b9ff;
}

.m-alert .alert-wrap footer {
  padding: 12px 18px;
  border-top: 1px solid #e9eaec;
  font-size: 14px;
  text-align: right;
}

.m-alert .alert-wrap footer a {
  background: #22b9ff;
  box-shadow: none;
  transition: none;
}

/**
    说明：侧边图像库菜单栏
  */
.fix-title {
  position: fixed;
  top: 60px;
  right: 5px;
  padding: 5px;
  background: #22b9ff;
  color: #fff;
  border-radius: 2px;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
  transition: all .2s;
}

.fix-title:hover {
  background: #1193d9;
}

.map-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 54px;
  right: 0;
  bottom: 150px;
  z-index: 1000;
  width: 250px;
  padding-bottom: 30px;
  &-ct {
    bottom: 0;
  }
  &.map-record {
        width: 95px;
        padding-bottom: 0;
        .map-title {
            justify-content: center;
        }
        .byname {
            position: relative;
            .inuc-close {
                color: #ff7875;
            }
            .inuc-correct {
                color: #95de64;
            }
            .inuc-overtime {
                color: #cf9236;
            }
        }
        .map-item.active, .map-item:hover {
            .inuc-close {
                color: #f5222d;
            }
            .inuc-correct {
                color: #52c41a;
            }
            .inuc-overtime {
                color: #e6a23c;
            }
        }
        .map-item.active .byname {
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 5px;
                width: 6px;
                height: 6px;
                margin-top: -3px;
                border-radius: 50%;
                background: #22b9ff;

            }
        }
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ddd;
    background-clip: padding-box;
    border: 1px solid #ccc;
    min-height: 28px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #f5f5f5;
    border-left: 1px solid #d2d2d2;
  }

  .map-title {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #22b9ff;
    color: #fff;
    h3 {
        font-size: 18px;
        font-weight: 400;
    }
    .nucfont:hover {
        color: #e9f8ff;
    }
  }
  .pages {
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #f0f0f0;
    border-left: 1px solid #ababac;
    // border-top: 1px solid #ababac;
    a {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4c4c4c;
        font-size: 12px;
        transition: all .2s;
        cursor: pointer;
        &:hover {
            background: #e0e0e0;
        }
        &.disabled {
            background: #f0f0f0;
            color: #ccc;
            cursor: not-allowed;
        }
        &:first-child {
            border-right: 1px solid #cdcdcd;
        }
    }
    i {
        display: none;
        padding: 0 3px;
        color: #22b9ff;
        &:hover {
            background: #e0e0e0;
        }
        &.disabled {
            background: #f0f0f0;
            color: #ccc;
            cursor: not-allowed;
        }
    }
  }
  .map-content {
    position: relative;
    flex: 1;
    width: 100%;
    padding: 5px 0 5px 5px;
    border-left: 1px solid #ababac;
    background: #fff;
    overflow-y: auto;
    li {
        height: 36px;
        background: #faf9fc;
        margin-bottom: 4px;
        color: #494a4b;
        font-size: 14px;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            background: #f4f3f8;
            color: #22b9ff;
            img {
                transform: scale(1.1);
              }
            .thumbnail .delete-image {
              opacity: 1;
            }
        }
        &.ploted {
          background: #f6ffed;
          color: #52c41a;
        }
        &.active {
            background: #e4e7ed;
            color: #22b9ff;
          }
        .thumbnail {
            position: relative;
            float: left;
            display: block;
            width: 36px;
            height: 36px;
            overflow: hidden;
            .delete-image {
              display: inline-block;
              position: absolute;
              left: 0;
              width: 100%;
              height: 100%;
              transition: all .3s;
              opacity: 0;
              &:before, &::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 8px;
                left: 17px;
                width: 2px;
                height: 20px;
                background: #ff4d4f;
              }
              &:before {
                transform: rotate(45deg);
              }
              &:after {
                transform: rotate(-45deg);
              }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .byname {
            height: 36px;
            line-height: 36px;
            padding-left: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
    }
  }
  &.mini {
    width: 70px;
    transition: width .3s;
    header {
        padding: 10px;
    }
    .map-content {
        li {
            display: flex;
            justify-content: center;
            &.ploted {
              .thumbnail {
                border: 2px solid #52c41a;
              }
            }
        }
        .thumbnail {
            border-radius: 36px;
        }
        .byname {
            display: none;
        }
    }
    .pages {
        a {
            display: none;
        }
        i {
            display: inline-block;
        }
    }
  }
}
