@import '../base/mixin.less';
@import '../base/variable.less';

// -项目
#root {
  width: 100%;
  height: 100%;
  display: flex;
}
.app {
  &-menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: width .3s;
    &-list {
      flex: 1;
    }
    .logo-con{
      padding: 8px;
      text-align: center;
      cursor: pointer;
      img{
        height: 44px;
        width: auto;
      }
    }
  }
  &-nav {
    flex-shrink: 0;
    // background: #fff;
    background: #6370be;
    color: #fff;
    box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);
    &-bd {
      display: flex;
      justify-content: space-between;
      height: 56px;
      padding: 0 10px;
      .nav-breadcrumb, .nav-app-titie, .nav-user {
        display: flex;
        align-items: center;
      }
      .nav-breadcrumb {
        span, a {
          color: #fff;
        }
        a:hover {
          color: #40a9ff;
        }
      }
      .nav-app-titie {
        // color: #444;
        font-size: 18px;
      }
      .nav-user {
        .ant-dropdown-link {
          padding: 0 8px;
          // color: #555;
          font-size: 12px;
          cursor: pointer;
        }
        &-avatar {
          // background-color: #13c2c2;
        }
      }
    }
  }
  &-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &-content {
    position: relative;
    flex: 1;
    padding: 10px;
    overflow: auto;
  }
}
