@media screen and (max-width: 1000px) {
  #root {
    .nav-breadcrumb {
      display: none;
    }
    .app {
      &-menu {
        display: none;
        &-mini {
          display: flex;
        }
      }
    }
    .loading {
      width: 100%;
    }
    // 登录相关
    .app-login {
      justify-content: center;
      &-wrap {
        display: flex;
        justify-content: center;
        width: 300px;
        margin: 0;
        padding: 10px;
        background-image: none !important;

        .login-form {
          padding-left: 0;
        }
        .app-login-title {
          margin-top: 10px;
        }
      }
      &-form {
        padding-right: 0;
        width: 250px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #root {
    .nav-app {
      &-title {
        display: none;
        &-mini {
          display: flex;
        }
      }
    }
  }
}
