@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes guide {
  from {transform: translateY(30%);}
  to {transform: translateY(0);}
}

@keyframes feedback {
  from {transform: translateX(30%);}
  to {transform: translateX(0);}
}

@keyframes thanks {
  from { transform: scale(0) rotate(-36deg); opacity: 0;}
  to { transform: scale(1) rotate(0); opacity: 1;}
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}
