.app-container {
  background: #fff;
  max-width: 100%;
  .main-wrapper {
    display: flex;
    background: #fff;
    position: relative;

    .app-main {
      flex: 1;
      max-width: 100%;
    }

    .content-wrapper {
      height: calc(100vh - 60px);
      padding: 10px;
      overflow: auto;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      .content-inner-wrapper {
        position: relative;
        padding: 0 300px 40px 40px;
        .loading {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 20%);
        }
      }
    }
  }
}
